.error {
  background-image: url(./img/error.jpg);
  background-position: center;
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.text {
  margin: 20px auto 0;
  font-family: sans-serif;
  font-size: 30px;
}
